<!-- scholars/templates/scholars/home.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, {{ request.user.username }}</h1>

    <h2>All Scholars</h2>
    <ul>
        {% for scholar in scholars %}
            <li>
                <h3>{{ scholar.user.username }}</h3>
                <p>Bio: {{ scholar.bio }}</p>
                <p>Specialization: {{ scholar.specialization }}</p>
                <p>Lectures Provided:</p>
                <ul>
                    {% for lecture in scholar.lectures.all %}
                        {% if lecture.associated_scholar == scholar.user %}
                            <li>{{ lecture.title }} - {{ lecture.description }}</li>
                        {% endif %}
                    {% empty %}
                        <li>No lectures found for this scholar.</li>
                    {% endfor %}
                </ul>
                <p>Session Availabilities:</p>
                <ul>
                    {% for session in sessions %}
                        <!-- Display session details here -->
                    {% endfor %}
                    <a href="{% url 'book_session' scholar.id %}">Book Session</a>
                </ul>
                <!-- Add a button/link here for booking sessions -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}